.body{
	position: relative;
	overflow-y: hidden;
}
.dashboard{
	font-size: 120px;
	height:150px;
	width: 800px;
	position: absolute;
	top: 0;
	bottom: 0;		
	left: 0;
	right: 0;
	margin:auto;
}
.node{
	color: black;
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height:150px;
	opacity: 0;
}

