
.blog-title-div{
margin: auto;
width: auto;
text-align: center;
margin-bottom: 50px;
}
.blog-title{
	margin-top:50px;
	font-size: 40px;
}
.blog-time{
	font-size: 14px;
}
.blog-tag{
	font-size: 14px;
	margin-bottom: 30px;
}
.main-content{
    margin-left:0;
    height: 100%;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    margin-bottom: 40px;
}
.main-content.active {
  margin-left: 300px;
}
a.node:link, a.node:visited, a.node:active {
  background-color: #f5f5f5;
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  padding: 4px 4px 4px 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
  color: #999;
    margin-left: 6px;
    margin-left: 6px;
}
a.node:hover {
  text-decoration: none;
  background-color: #e2e2e2;
  color: #777;
}
header{
	margin-bottom: 40px;
}
.content-div{
	display: inline-block;
}
.blog-info-div{
	margin-top: 40px;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #DADADA;;
  .container{
  	p{
  		text-align: center;
  	}
  }
}

.right-menu{
	position: fixed;
}
.right-menu nav ul li a{
	display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;

}
.right-menu nav ul li a.active{
	  background-color: #eee;

}
