<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{.Info.Title}}</title>
  <link href="/css/solarized-light.css" rel="stylesheet">
  <link href="/css/blog.min.css" rel="stylesheet">
</head>
<body>
<div style="display: none;">
  <b-title>{{.Info.Title}}</b-title>
  <b-time>{{.Info.Date.Format "Jan 02, 2006"}}</b-time>
  <b-tags>
    {{range $i,$e:= .Info.Tags}}
      <b-tag>{{$e}}</b-tag>
    {{end}}
  </b-tags>
  <b-catalogue>{{.Info.Catalogue}}</b-catalogue>
  <b-disqus>{{.Disqus}}</b-disqus>
  <b-content>{{.Content}}</b-content>
</div>
<div id="container"></div>
<script src="/js/jquery.min.js"></script>
<script src="/js/react-with-addons.js"></script>
<script src="/js/react-dom.min.js"></script>
<script src="/js/scrollArea.js"></script>
<script src="/js/date.js"></script>
<script src="/js/highlight.pack.js"></script>
<script src="/js/blog.min.js"></script>
</body>
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
      this.page.identifier = window.location.pathname;
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//{{.Disqus}}.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</html>
